In [1]:
from HMM_Functions import *
from Filtering import *
from matplotlib import cm, pyplot as plt
import seaborn
from matplotlib.dates import YearLocator, MonthLocator, DayLocator
import pandas as pd
import numpy as np
from datetime import datetime

normalized_list is.. [0.15173029775290853, 0.15479591185558508, 0.17400477849233528, 0.17511455356913824, 0.1736105761273977, 0.17074388220263512]
equals 1? 1.0
max 3

normalized_list is.. [0.16054427917234917, 0.16165149473137094, 0.1686819160098353, 0.16879224497744852, 0.17027366079586928, 0.17005640431312677]
equals 1? 0.9999999999999999
max 4

normalized_list is.. [0.1639803891842217, 0.16438650215748862, 0.16732618544784097, 0.16733719749617135, 0.16845331859455068, 0.16851640711972674]
equals 1? 1.0000000000000002
max 5

normalized_list is.. [0.16543646568816636, 0.16560363318996155, 0.1669221568242962, 0.1669232572240002, 0.1675277848502256, 0.1675867022233502]
equals 1? 1.0000000000000002
max 5

normalized_list is.. [0.1660920671876036, 0.1661663282963101, 0.16677687542587893, 0.16677698543111494, 0.16707729094001295, 0.16711045271907954]
equals 1? 1.0
max 5

normalized_list is.. [0.1663960521355977, 0.16643028762453696, 0.16671682927454948, 0.16671684027349148, 0.166861659862334, 0.16687833082949038]
equals 1? 1.0
max 5

normalized_list is.. [0.16653878821473983, 0.1665548259966715, 0.16669004259972828, 0.16669004369954876, 0.1667591127513563, 0.16676718673795524]
equals 1? 1.0
max 5

In [2]:
file_name = 'biib.us.txt'
df_biib_stock = get_stock_data(file_name)
df_biib_stock = df_biib_stock[-30:]
df_biib_stock = df_biib_stock.reset_index()
df_biib_stock

    index   Close       Date     High      Low    Open OpenInt   Volume
0    6556  316.17 2017-10-02   317.13   313.12  315.19       0  1669719
1    6557  317.39 2017-10-03    317.8   313.91  317.11       0   850783
2    6558  314.92 2017-10-04   316.55      306  313.57       0  1067637
3    6559  326.74 2017-10-05   330.98  320.276  320.72       0  2159738
4    6560  327.48 2017-10-06    328.5    324.6  325.21       0  1023638
5    6561  329.01 2017-10-09   332.24  326.325  327.46       0   902443
6    6562  332.81 2017-10-10   332.87   328.25  328.55       0  1001224
7    6563  333.19 2017-10-11   333.33   329.27  332.12       0   937951
8    6564  333.31 2017-10-12   334.32   330.04  332.93       0  1131332
9    6565  337.64 2017-10-13   338.94   332.07  333.26       0  1358790
10   6566  335.68 2017-10-16   344.37   333.17  337.73       0  1175531
11   6567  344.47 2017-10-17   348.65   339.69  343.12       0  1614883
12   6568  344.58 2017-10-18   348.84   343.54  346.56       0  1247005
13   6569  342.42 2017-10-19   346.11   338.11   343.4       0  1276545
14   6570   338.1 2017-10-20   343.31   333.93     343       0  1895612
15   6571  328.55 2017-10-23   335.51   327.83  335.25       0  1882981
16   6572  315.73 2017-10-24   321.11   301.81     319       0  5844746
17   6573  314.64 2017-10-25   320.25      313  317.96       0  1879847
18   6574  307.64 2017-10-26   313.57   305.12     310       0  1905210
19   6575  307.74 2017-10-27    309.6  305.003  307.41       0  1679602
20   6576   315.8 2017-10-30   317.67    307.2  307.73       0  1469629
21   6577  311.66 2017-10-31   316.86    310.5  315.18       0  1201617
22   6578  315.73 2017-11-01   319.95   311.57  312.75       0  1386167
23   6579   309.4 2017-11-02   319.22   308.59     316       0  1570868
24   6580  314.14 2017-11-03  314.205   308.21  309.79       0   827968
25   6581  315.47 2017-11-06    319.4   314.15  314.39       0  1065157
26   6582  313.57 2017-11-07  315.975  311.051  315.94       0   887460
27   6583  312.58 2017-11-08   314.81   311.64  314.81       0  1232077
28   6584  309.96 2017-11-09   313.97    308.9     312       0   894175
29   6585  310.44 2017-11-10    311.7   306.39   310.1       0   820694

In [3]:
# Get data and initialize
df_emission = get_emission(df_biib_stock)
emission = df_emission['Emission'][1:]
emission_list = emission.tolist()

tpm = [[0.3, 0.3, 0.2, 0.1, 0.05, 0.05],
       [0.25, 0.3, 0.25, 0.1, 0.05, 0.05],
       [0.1, 0.1, 0.3, 0.2, 0.2, 0.1],
       [0.1, 0.1, 0.2, 0.3, 0.2, 0.1],
       [0.05, 0.05, 0.1, 0.25, 0.3, 0.25],
       [0.05, 0.05, 0.1, 0.2, 0.3, 0.3]]

#tpm = create_TPM(6)

epm = create_EPM(6, 2)
NUM_STATES = 6

pi = [.2, .1, .1, .2, .1, .1]

In [ ]:
tpm, epm = baum_welch(tpm, epm, pi, emission_list)

In [ ]:
tpm

In [ ]:
epm

In [ ]:
states_path = viterbi(tpm, epm, pi, emission_list)

In [ ]:
updated_stock_df = add_hidden_states_to_df(df_emission, states_path)
updated_stock_df

In [ ]:
graph_hidden_states(updated_stock_df, states_path)

In [ ]:
filtering(tpm, epm, emission_list, pi)